/* .App {
    background-image: url("");
} */

.header {
    font-size: 48px;
    text-align: center;
    text-shadow: 0px 5px 5px;
    background-color: rgba(211, 211, 211, 0.441);
    padding: 20px;
}

.aboutDiv {
    background-color: rgba(211, 211, 211, 0.441);
}

.aboutHeader {
    text-decoration: underline;
}

.item {
    list-style-type: none;
}

.skillsBox {
    background-color: rgba(211, 211, 211, 0.441);
}

.skills {
    text-decoration: underline;
}


/* .skill {} */