/* .App {
    background-image: url("");
} */

body {
    background-image: url("https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTgwOTN8MHwxfHNlYXJjaHwyfHxwb3J0Zm9saW8lMjBiYWNrZ3JvdW5kfGVufDB8fHx8MTYzMjUyNjI2Ng&ixlib=rb-1.2.1&q=80&w=1080");
}

.header {
    color: aqua;
    font-size: 48px;
    text-align: center;
    text-shadow: 0px 5px 5px black;
    background-color: rgba(211, 211, 211, 0.738);
    border-radius: 15px;
    padding: 20px;
}

.aboutDiv {
    margin: 50px;
    border-radius: 15px;
    background-color: rgba(211, 211, 211, 0.738);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.aboutHeader {
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    grid-column: 2/4;
}

.item {
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    grid-column: 2/4;
}

.skillsBox {
    border-radius: 15px;
    background-color: rgba(211, 211, 211, 0.738);
}

.skills {
    text-decoration: underline;
}

.skill {
    list-style-type: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.navBtn {
    padding: 10px;
    font-size: 20px;
}